*{
  margin: 0;
  padding: 0;
  font-family: georgia, serif;
}
.header{
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(234, 206, 236, 0.459),rgba(239, 157, 255, 0.37)),url(wow.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}
nav{
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
}
nav img{
  width: 100px;
  border-radius: 100%;
}
.nav-links{
  flex: 1;
  text-align: right;
}
.nav-links ul li{
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}
.nav-links ul li a{
  color: azure;
  text-decoration: none;
  font-size: 20px;
}
.nav-links ul li::after{
  content: '';
  width: 0%;
  height: 2px;
  background: azure;
  display: block;
  margin: auto;
  transition: 0.5s;
}
.nav-links ul li:hover::after{
  width: 100%;
}
a{
  text-decoration: none;
}
.text-box{
  width: 90%;
  color: azure;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}
.text-box h1{
  font-size: 62px;
  color:#CA7373;
  cursor: default;
}
.text-box p{
  margin: 10px 0 40px;
  font-size: 14px;
  color: azure;
  cursor: default;
}
.hero-btn{
  display: inline-block;
  text-decoration: none;
  color:#CA7373;
  border: 1px solid #fff;
  padding: 12px 34px;
  font-size: 13px;
  background: transparent;
  position: relative;
  cursor: pointer;
  margin: 0px 10px;
}
.hero-btn:hover{
  border: 1px solid #fff;
  background: #fff;
  transition: 1s;
}
footer{
  background-color: #F0A8D0;
  color: azure;
  text-align: center;
  padding: 7px;
  margin-top: 0rem;
}
@media (max-width: 768px) {
  /* Styles for smaller screens */
  h1 {
      font-size: 24px;
  }
  p {
      font-size: 16px;
  }
}